* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Jetbrains Mono", monospace;
  --black-color: rgb(30, 29, 29);
  --black-color-light: rgb(40, 38, 38);
  --hover-color: rgb(168, 255, 37);
}

body {
  font-family: var(--primary-font);
  background-color: var(--black-color);
  color: whitesmoke;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

p {
  font-size: 1.2rem;
}

/* NAVBAR */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--black-color);
  border-bottom: 2px solid var(--black-color-light);
  z-index: 999;
}

span {
  color: var(--hover-color);
}

/* 1 REM = 16PX  */
.nav {
  height: 3.5rem;
  font-family: var(--secondary-font);
  padding: 0 5%;
}

.nav__data {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__burger,
.nav__close {
  color: whitesmoke;
  font-size: 1.5rem;
}

.nav__logo {
  font-weight: bold;
  transition: color 0.4s ease;
}

.nav__logo:hover {
  color: var(--hover-color);
}

.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

.nav__burger,
.nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  cursor: pointer;
  transition: opacity 0.2s, transform 0.4s;
}

.nav__close {
  opacity: 0;
}

.nav__menu {
  position: absolute;
  left: 0;
  top: 2.5rem;
  width: 100%;
  height: calc(100vh - 3.5rem);
  overflow: auto;
  pointer-events: none;
  opacity: 0;
  transition: top 0.4s, opacity 0.3s;
}

.nav__list {
  background-color: var(--black-color);
  padding-top: 1rem;
}

.nav__link {
  color: whitesmoke;
  background-color: var(--black-color);
  padding: 1.25rem 1.5rem;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
}

.nav__link:hover {
  background-color: var(--black-color-light);
  color: var(--hover-color);
}

/* SHOW MENU */
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}
.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}

/* HOME SECTION */
section {
  background-color: var(--black-color);
  height: calc(100vh - 3.5rem);
  padding: 3.5rem 5% 2rem 5%;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}

.profile__img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  border: 5px solid whitesmoke;
}

#changing-word {
  width: 230px;
  display: inline-block;
  text-align: left;
  animation: slide-in 0.5s ease forwards;
  position: relative;
}

@keyframes slide-out {
  0% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: 1em;
    opacity: 0;
  }
}

@keyframes slide-in {
  0% {
    top: -1em;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

.home__text {
  font-size: 1.5rem;
}

.home__buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.btn {
  background-color: inherit;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: whitesmoke;
  border-radius: 6px;
  border: 2px solid whitesmoke;
  display: inline-block;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

.btn:hover {
  background-color: var(--black-color-light);
  border: 2px solid var(--hover-color);
  cursor: pointer;
  color: var(--hover-color);
}

/* ABOUT ME & SKILLS */
.about__me {
  padding-top: 30px;
}

.about__me h2,
.about__me-text p,
.about__info {
  margin-bottom: 20px;
}

.about__me-text p:last-of-type {
  display: none;
}

.about__info {
  background-color: var(--black-color-light);
  padding: 5%;
  border-radius: 10px;
  line-height: 1.5;
  border: 2px solid var(--hover-color);
}

/* SKILLS */
.skills {
  margin-top: 30px;
  text-align: center;
}
.skills-carousel {
  margin: 0 auto;
  max-width: 700px;
  overflow: hidden;
  display: flex;
  > * {
    flex: 0 0 100%;
  }
}

.skill {
  width: 100%;
  color: white;
  border-radius: 24px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.skill i {
  font-size: 4rem;
}

.skill i:hover {
  color: var(--hover-color);
}

.group,
.group__two,
.group__three {
  display: flex;
  gap: 20px;
  will-change: transform;
}

.group,
.group__three {
  animation: scrollingLeft 10s linear infinite;
}
.group__two {
  animation: scrollingRight 10s linear infinite;
}

@keyframes scrollingLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scrollingRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* PROJECTS */
.projects {
  margin-top: 30px;
  height: auto;
  background-color: skyblue;
}

.projects_grid {
  background-color: pink;
  width: 100%;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr;
  padding: 1rem;
  justify-content: space-between;
  /* justify-items: center; */
  margin-top: 20px;
}

.project {
  width: 100%;
  max-width: 400px;
  aspect-ratio: 1 / 1;
  background-color: var(--black-color-light);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.project__img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.project__info {
  position: absolute;
  z-index: 998;
  height: 100%;
  display: flex;
  /* display: none; */
  flex-direction: column;
  justify-content: space-between;
  padding: 5%;
}
.project__info p {
  color: var(--hover-color);
  font-family: var(--secondary-font);
  text-align: center;
  font-size: 1.2rem;
}

.project__buttons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.project__buttons .btn {
  width: 50%;
  text-align: center;
}

/* CONTACT */
.contact {
  /* background-color: gray; */
  /* height: auto; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.contact h2 {
  margin: 20px 0 20px 0;
}
.contact h3 {
  margin-top: 30px;
}
.contact__form {
  margin-top: 20px;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 50%;
  justify-content: center;
}

input:not(:last-child),
textarea {
  height: 40px;
  border: 2px whitesmoke solid;
  background-color: inherit;
  border-radius: 8px;
  color: rgb(202, 202, 202);
  padding: 6px 10px;
  font-size: 1rem;
}

textarea {
  height: 120px;
}

input:not(:last-child):focus,
textarea:focus {
  outline: 2px solid rgba(168, 255, 37, 0.736);
  border: none;
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: transparent;
}

input::placeholder,
textarea::placeholder {
  color: rgba(168, 255, 37, 0.537);
}

/* SOCIAL ICONS */
.social__icons {
  position: sticky;
  width: 100%;
  bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  z-index: 998;
  /* background-color: var(--black-color); */
  transition: all 0.5s;
}

.social__icons-line {
  width: 50px;
  height: 0;
  border: 1px solid whitesmoke;
}

.social__icons a i {
  color: whitesmoke;
  font-size: 2rem;
  transition: all 0.5s ease;
  width: 40px;
  height: 40px;
  text-align: center;
  align-content: center;
}

.social__icons a i:hover {
  font-size: 2.3rem;
  color: var(--hover-color);
  cursor: pointer;
}

/* FOOTER */
footer {
  background-color: var(--black-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top: 1px solid whitesmoke;
  height: 80px;
  margin-top: 30px;
}

footer p {
  font-size: 1rem;
}

/* TABLET */
@media (min-width: 768px) {
  section {
    padding: 3.5rem 10% 2rem 10%;
  }

  /* ABOUT ME & SKILLS */
  .about__me {
    padding-top: 0;
  }

  .about__info {
    width: max-content;
  }

  /* SKILLS */
  .skill i {
    font-size: 4.5rem;
  }

  /* PROJECTS */
  .projects_grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .project__tablet {
    display: inline-block;
  }

  .project__desktop {
    display: none;
  }

  .project__info p {
    font-size: 1.2rem;
  }

  /* SOCIAL ICONS */
  .social__icons {
    width: 0;
    bottom: 5%;
    left: 5%;
    flex-direction: column;
    background-color: inherit;
  }

  .social__icons-line {
    height: 50px;
    width: 0;
  }

  .social__icons-line:last-of-type {
    height: 25px;
  }
}

/* DESKTOP */
@media (min-width: 1024px) {
  /* NAVBAR */
  .nav {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav__data {
    width: inherit;
  }

  .nav__toggle {
    display: none;
  }

  .nav__menu {
    position: inherit;
    height: 100%;
    width: inherit;
    pointer-events: initial;
    opacity: 1;
  }

  .nav__list {
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .nav__link {
    padding: 0;
    font-size: 1.1rem;
  }

  .nav__link:hover {
    background-color: transparent;
  }

  /* ABOUT ME & SKILLS */
  .about__me {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
  }

  .about__info {
    margin-bottom: 0px;
  }

  .about__me-text p:last-of-type {
    display: inline-block;
  }

  .about__info {
    width: 1500px;
    padding: 3%;
  }

  /* SKILLS */
  .skill i {
    font-size: 5rem;
  }

  /* PROJECTS */
  .projects_grid {
    grid-template-columns: repeat(3, 1fr);
    justify-self: center;
    width: 90%;
  }

  .project__desktop {
    display: inline-block;
  }
}
