* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Jetbrains Mono", monospace;
  --black-color: rgb(30, 29, 29);
  /* --black-color: #101010; */
  --black-color-light: rgb(40, 38, 38);
  /* --black-color-light: rgb(30, 29, 29); */
  --hover-color: rgb(168, 255, 37);
}
body {
  font-family: var(--primary-font);
  background-color: var(--black-color);
  color: whitesmoke;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
  font-weight: lighter;
}

p {
  font-size: 1.25rem;
}

.p-small {
  font-size: 1rem;
}

/* NAVBAR */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--black-color);
  border-bottom: 2px solid var(--black-color-light);
  z-index: 999;
}

span {
  color: var(--hover-color);
}

/* 1 REM = 16PX  */
.nav {
  height: 3.5rem;
  font-family: var(--secondary-font);
  padding: 0 5%;
}

.nav__data {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__burger,
.nav__close {
  color: whitesmoke;
  font-size: 1.5rem;
}

.nav__logo {
  font-weight: bold;
  transition: color 0.4s ease;
}

.nav__logo:hover {
  color: var(--hover-color);
}

.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

.nav__burger,
.nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  cursor: pointer;
  transition: opacity 0.2s, transform 0.4s;
}

.nav__close {
  opacity: 0;
}

.nav__menu {
  position: absolute;
  left: 0;
  top: 2.5rem;
  width: 100%;
  height: calc(100vh - 3.5rem);
  overflow: auto;
  pointer-events: none;
  opacity: 0;
  transition: top 0.4s, opacity 0.3s;
}

.nav__list {
  background-color: var(--black-color);
  padding-top: 1rem;
}

.nav__link {
  color: whitesmoke;
  background-color: var(--black-color);
  padding: 1.25rem 1.5rem;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
}

.nav__link:hover {
  background-color: var(--black-color-light);
  color: var(--hover-color);
}

/* SHOW MENU */
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}
.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}

/*----------------------*/
/* GLOBALS */
/*----------------------*/
/* BUTTONS */
.btn {
  width: 8.75rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  font-size: 1.25rem;
  font-weight: bold;
  color: whitesmoke;
  border-radius: 6px;
  border: 2px solid whitesmoke;
  display: inline-block;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

.btn:hover {
  /* background-color: var(--black-color-light); */
  border: 2px solid var(--hover-color);
  cursor: pointer;
  /* color: var(--hover-color); */
  box-shadow: 0px 0px 12px -5px #a8ff2592;
}

.disabled-link {
  opacity: 0.3;
  cursor: not-allowed;
  pointer-events: none;
}

section {
  background-color: var(--black-color);
  min-height: calc(100vh);
  padding: 2rem 5% 2rem 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

/*----------------------*/
/* HOME SECTION */
/*----------------------*/
.home {
  align-items: center;
  text-align: center;
}

.profile__img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  border: 5px solid whitesmoke;
}

#changing-word {
  width: 230px;
  display: inline-block;
  text-align: left;
  animation: slide-in 0.5s ease forwards;
  position: relative;
}

@keyframes slide-out {
  0% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: 1em;
    opacity: 0;
  }
}

@keyframes slide-in {
  0% {
    top: -1em;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

.home__text {
  font-size: 1.5rem;
}

.home__buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

/*----------------------*/
/* ABOUT ME & SKILLS */
/*----------------------*/
.about__me-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.about__info {
  background-color: var(--black-color-light);
  padding: 5%;
  border-radius: 10px;
  line-height: 1.5;
  border: 2px solid var(--hover-color);
  font-family: var(--secondary-font);
}

.my-resume {
  font-weight: lighter;
  display: none;
}

/* EXPERIENCE && SKILLS*/
.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  margin-top: 20px;
}

.skill {
  padding: 0.5rem 1rem;
  border: 2px solid whitesmoke;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: whitesmoke;
  box-sizing: border-box;
  cursor: default;
  transition: 0.3s ease;
}

.skill i {
  font-size: 1.5rem;
}

.skill:hover {
  /* background-color: var(--black-color-light); */
  border-color: var(--hover-color);
  /* color: var(--hover-color); */
  box-shadow: 0px 0px 12px -5px #a8ff2592;
}

.timeline {
  display: none;
}

/*----------------------*/
/* PROJECTS */
/*----------------------*/
.allProjects {
  align-self: center;
  width: auto;
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 20px;
}

.project {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.project-image__wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.3s ease;
}

/* Imagen */
.project-img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  display: block;
  object-fit: cover;
  transition: all 0.9s ease;
}

.project-image__wrapper:hover {
  outline: 2px solid #279eff;
  box-shadow: 1px -1px 24px -5px rgba(245, 245, 245, 0.335);
  box-shadow: 0px 0px 12px -3px #279eff;
}
.project-image__wrapper:hover .project-img {
  filter: blur(0.8px);
  transform: scale(1.08);
}

/* Overlay */
.tech-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.95);
  background: var(--black-color);
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 1rem;
}

/* Aparecer en hover */
.project-image__wrapper:hover .tech-overlay {
  opacity: 1;
}

/* Badges */
.badge {
  background: inherit;
  border: 2px solid var(--hover-color);
  color: var(--hover-color);
  border-radius: 6px;
  font-size: 1rem;
  white-space: nowrap;
  padding: 0.5rem 1rem;
  font-weight: bold;
  color: whitesmoke;
}

.project-desc h3 {
  margin-bottom: 5px;
}

.project-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 20px;
}

.project-buttons .btn {
  text-align: center;
  width: 50%;
}

/*----------------------*/
/* CONTACT */
/*----------------------*/
.contact h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

.contact-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-text p:nth-of-type(2),
.contact-text p:nth-of-type(3) {
  display: none;
}

.contact-text .btn {
  text-align: center;
}

.contact-form {
  padding: 1.25rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center;
  border: 2px solid whitesmoke;
  box-shadow: 0px 0px 12px -7px whitesmoke;
}

.contact-form:hover,
.contact-form:focus-within {
  box-shadow: 0px 0px 12px -4px whitesmoke;
}

input,
textarea {
  width: 100%;
  height: 40px;
  border: 2px whitesmoke solid;
  background-color: inherit;
  border-radius: 8px;
  color: whitesmoke;
  padding: 6px 10px;
  font-size: 1rem;
  transition: all 0.2s ease;
  font-family: var(--secondary-font);
}

textarea {
  height: 120px;
  max-height: 120px;
}

input:focus,
textarea:focus {
  font-family: var(--secondary-font);
  outline: 2px solid #279eff;
  box-shadow: 0px 0px 12px -4px #279eff;
  border: none;
}

input::placeholder,
textarea::placeholder {
  color: rgba(245, 245, 245, 0.648);
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: transparent;
}

.contact-form .btn {
  width: 100%;
}
.contact-form .btn:hover {
  border: none;
  outline: 2px solid #279eff;
  box-shadow: 0px 0px 12px -4px #279eff;
}

/*----------------------*/
/* SOCIAL ICONS */
/*----------------------*/
.social__icons {
  position: sticky;
  z-index: 998;
  width: 100%;
  bottom: 30px;
  display: flex;
  justify-content: center;
  /* height: 80px; */
}

.social__icons-container {
  background-color: rgba(30, 29, 29, 0.771);
  backdrop-filter: blur(3px);
  width: auto;
  padding: 1.2rem;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  transition: all 0.3s;
}

.social__icons-line {
  width: 50px;
  height: 0;
  border: 1px solid whitesmoke;
}

.social__icons a i {
  color: whitesmoke;
  font-size: 2rem;
  transition: all 0.5s ease;
  width: 40px;
  height: 40px;
  text-align: center;
  align-content: center;
}

.social__icons a i:hover {
  font-size: 2.3rem;
  color: var(--hover-color);
  cursor: pointer;
}

/* FOOTER */
footer {
  background-color: var(--black-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top: 1px solid whitesmoke;
  height: 80px;
  margin-top: 5px;
}

footer p {
  font-size: 1rem;
}

/* DESKTOP */
@media (min-width: 1024px) {
  /* NAVBAR */
  .nav {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav__data {
    width: inherit;
  }

  .nav__toggle {
    display: none;
  }

  .nav__menu {
    position: inherit;
    height: 100%;
    width: inherit;
    pointer-events: initial;
    opacity: 1;
  }

  .nav__list {
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .nav__link {
    padding: 0;
    font-size: 1.1rem;
  }

  .nav__link:hover {
    background-color: transparent;
  }

  /* ABOUT ME & SKILLS */
  .about__me {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  .about__me-text,
  .experience-left {
    width: 50%;
  }

  .about__info {
    width: 440px;
    height: 180px;
  }

  .my-resume {
    width: 100%;
    display: inline-block;
    text-align: center;
  }

  /* EXPERIENCE && SKILLS*/
  .experience {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .timeline {
    border-left: 2px solid whitesmoke;
    padding-left: 0.9rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
  }

  .timeline-item {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    position: relative;
  }

  .timeline-item:first-child .timeline-dot {
    background-color: var(--hover-color);
  }

  .timeline-item:first-child .sub {
    color: var(--hover-color);
  }

  .timeline-dot {
    width: 14px;
    height: 14px;
    background-color: whitesmoke;
    border-radius: 50%;
    position: absolute;
    left: -22px;
  }

  .timeline-content h4 {
    font-weight: 500;
    margin-bottom: 0.2rem;
  }

  .timeline-content .sub {
    font-weight: lighter;
  }

  /*----------------------*/
  /* PROJECTS */
  /*----------------------*/
  .projects-container {
    flex-direction: row;
  }

  .project {
    max-width: 300px;
  }

  /*----------------------*/
  /* CONTACT */
  /*----------------------*/
  .contact-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .contact-text {
    width: 400px;
  }

  .contact-text p:nth-of-type(2),
  .contact-text p:nth-of-type(3) {
    display: block;
  }

  .contact-text .btn {
    margin-top: 1.875rem;
  }

  .contact-form {
    width: 28rem;
  }
}

/*----------------------*/
/* TABLET */
/*----------------------*/
@media (min-width: 768px) {
  section {
    padding: 3.5rem 10% 2rem 10%;
  }

  /* ABOUT ME & SKILLS */
  .about__me {
    padding-top: 0;
  }

  .about__info {
    width: max-content;
  }

  /* SKILLS */

  /* PROJECTS */
  .projects_grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .project__tablet {
    display: inline-block;
  }

  .project__desktop {
    display: none;
  }

  .project__info p {
    font-size: 1.2rem;
  }

  /* CONTACT */
  .contact {
    padding: 3.5rem 10% 2rem 10%;
  }

  .contact__container {
    display: flex;
    width: 100%;
    gap: 20px;
  }

  .contact__left {
    width: 50%;
  }

  .contact__right .btn {
    display: inherit;
  }

  .contact__right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  /* SOCIAL ICONS */
  .social__icons {
    width: 0;
    bottom: 5%;
    left: 5%;
    flex-direction: column;
  }

  .social__icons-container {
    flex-direction: column;
  }

  .social__icons-line {
    height: 40px;
    width: 0;
  }

  .social__icons-line:last-of-type {
    height: 25px;
  }
}
